trigger:
  - master

variables:
  ios_run: $(to_ios_run)
 
stages:
  - stage: android
    pool:
      vmImage: 'ubuntu-16.04'
    jobs:
      - job: A1
        steps:
        - bash: echo "A"

  - stage: ios
    condition: eq(variables.to_ios_run, true)
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      - job: B1
        steps:
        - bash: echo "B"
    